/JFXBookExample/nbproject/private/
/JFXBookExample/build/
/JFXDrawHome/nbproject/private/
/JFXDrawHome/build/
/JFXBookExample/out/
/JFXBookExample/.idea/
/*/.idea/
/*/out/
/*/build/
/*/nbproject/private/
/jsp/jsp/nbproject/private/